@font-face {
    font-family: "Nimbus Mono L";
    src: url('../fonts/Nimbus Mono L W03 Regular.woff2') format('woff2'), 
         url('../fonts/Nimbus Mono L W03 Regular.woff') format('woff');
    font-family: "Nimbus Sans L";
    src: url('../fonts/Nimbus Sans L.woff2') format('woff2'), 
         url('../fonts/Nimbus Sans L.woff') format('woff');
}

#appContainer {
    max-width: 780px;
    margin: 0 auto;
    display: grid;
}

h1,
h2 {
    font-family: "Nimbus Mono L", monospace;
    font-weight: normal;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

p,
label,
input,
button,
table {
    font-family: "Nimbus Sans L", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

input {
    display: block;
    padding: 2px;
    margin: 5px 0 15px 0;
}

button {
    padding: 5px;
    margin: 5px 0 15px 0;
    font-size: 14px;
}

#addPersonContainer,
#filterContainer {
    border-left: 5px solid #FFE7B0;
    padding: 12px;
    margin-bottom: 10px;
}

table {
    font-size: 14px;
    border-spacing: 0;
    white-space: nowrap;
}

#notification {
    font-family: "Nimbus Sans L", sans-serif;
    font-weight: normal;
    color: blue;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    list-style-type: none;
}

table td {
    padding: 3px 10px;
}

table td:last-child {
    width: 100%;
}

table tr:nth-child(even) {
    background-color: #FFE7B0;
}

table tr:nth-child(odd) {
    background-color: rgb(254, 245, 216);
}

#fontInfo {
    margin-top: 20px;
    font-size: 14px;
}

@media only screen and (min-width: 730px) {
    #appContainer {
        grid-template-columns: 3fr 5fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "notification notification"
            "sidebar1 personsListHeadline"
            "sidebar2 personsList"
            "sidebar3 personsList"
            "sidebar4 personsList"
            "footer footer"
    }

    h1 {
        grid-area: header;
    }

    #notification,
    #notificationEmpty {
        grid-area:  notification;
    }

    #addPersonHeadline {
        grid-area: sidebar1;
    }

    #addPersonForm {
        grid-area: sidebar2;
    }

    #filterHeadline {
        grid-area: sidebar3;
    }

    #filterContainer {
        grid-area: sidebar4;
    }

    #personsListHeadline {
        grid-area: personsListHeadline;
    }

    #personsListContainer {
        grid-area: personsList;
    }

    #fontInfo {
        grid-area: footer;
    }
}