@font-face {
    font-family: "Nimbus Mono L";
    src: url('../fonts/Nimbus Mono L W03 Regular.woff2') format('woff2'), 
         url('../fonts/Nimbus Mono L W03 Regular.woff') format('woff');
    font-family: "Nimbus Sans L";
    src: url('../fonts/Nimbus Sans L.woff2') format('woff2'), 
         url('../fonts/Nimbus Sans L.woff') format('woff');
}

/* Small (mobile) screens */

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

* {
    box-sizing: border-box;
}

#appContainer {
    max-width: 780px;
    margin: 0 auto;
    display: grid;
}

#appContainer:first-child {
    margin-top: 10px;
}

#appContainer:last-child {
    margin-bottom: 10px;
}

#appContainer > * {
    margin-left: 5px;
    margin-right: 5px;
}

h1,
h2 {
    font-family: "Nimbus Mono L", monospace;
    font-weight: normal;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

p,
label,
input,
button,
table {
    font-family: "Nimbus Sans L", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

input,
button {
    padding: 5px;
    margin: 5px 0 15px 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

input {
    width: 210px;
    height: 30px;
}

button {
    font-size: 14px;
}

.removeButton {
    margin: 5px 0;
}

#addPersonForm,
#filterContainer {
    border-left: 5px solid #FFE7B0;
    padding: 12px;
    margin-bottom: 10px;
}

table {
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
    white-space: nowrap;
}

#notification {
    font-family: "Nimbus Sans L", sans-serif;
    font-weight: normal;
    font-size: 20px;
    border: 3px solid orange;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

table td {
    padding: 3px 10px;
}

table td:first-child {
    padding-left: 0;
}

table tr:first-child {
    border-top: 2px solid #FFE7B0;
}

table tr {
    border-bottom: 2px solid #FFE7B0;
}

#fontInfo {
    margin: 30px 5px 20px 5px;
    font-size: 14px;
}

/* Medium (mobile) screens */

@media only screen and (min-width: 410px) {
    #appContainer > * {
        margin-left: 10px;
        margin-right: 10px;
    }

    table tr:nth-child(even) {
        border: initial;
        background-color: #FFE7B0;
    }

    table tr:nth-child(odd) {
        border: initial;
        background-color: rgb(254, 245, 216);
    }

    table td:first-child {
        padding-left: 10px;
    }

    table td:last-child {
        background-color: white;
        padding-left: 15px;
    }
}

/* Large screens */

@media only screen and (min-width: 730px) {
    #appContainer {
        grid-template-columns: 3fr 5fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "notification notification"
            "sidebar1 personsListHeadline"
            "sidebar2 personsList"
            "sidebar3 personsList"
            "sidebar4 personsList"
            "footer footer"
    }

    h1 {
        grid-area: header;
    }

    #notification,
    #notificationEmpty {
        grid-area:  notification;
    }

    #addPersonHeadline {
        grid-area: sidebar1;
    }

    #addPersonForm {
        grid-area: sidebar2;
    }

    #filterHeadline {
        grid-area: sidebar3;
    }

    #filterContainer {
        grid-area: sidebar4;
    }

    #personsListHeadline {
        grid-area: personsListHeadline;
    }

    #personsListContainer {
        grid-area: personsList;
    }

    #fontInfo {
        grid-area: footer;
    }
}